[submodule "app/2048"]
	path = app/2048
	url = git@github.com:PWAGames/2048.git
[submodule "app/norman-the-necromancer"]
	path = app/norman-the-necromancer
	url = git@github.com:PWAGames/norman-the-necromancer.git
