* {
	box-sizing: border-box;
}
body {
	font-family: sans-serif;
}

button.app-list-filter-button {
	box-sizing: border-box;
	background-color: rgba(0,0,0,0.1);
	border-radius: 8px;
	padding: 8px;
	border: 2px rgba(0,0,192,0.0) solid;
	transition: background-color 400ms, border-color 400ms;
}
button.app-list-filter-button:hover {
	background-color: rgba(0,0,0,0.05);
}
button.app-list-filter-button[checked] {
	background-color: rgba(0,0,192,0.1);
	border-color: rgba(0,0,192,0.5);
}
button.app-list-filter-button[checked]:hover {
	background-color: rgba(0,0,192,0.05);
}
.app-category-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 0.5em;
	column-gap: 0.5em;
	padding-left: 0;
	margin-top: 0.2em;
	margin-bottom: 0.5em;
}


.app-list {
	list-style: none;
	padding-left: 0;
	margin: 0;
/*	display: grid;*/
/*	gap: 10px;*/
/*	grid-auto-flow: column;*/
/*	grid-auto-columns: 144px;*/
}
.app-list li.app-list-item {
	display: inline-block;
}
.app-list-item a {
	width: 144px;
	display: inline-block;
	text-decoration: none;
	color: #000000;
	border-radius: 8px;
	padding: 8px;
}
.app-list-item a:hover {
	background-color: rgba(0,0,0,0.05);
}
.app-list-item .app-info {
	margin-top: 4px;
	font-size: 14px;
	text-overflow: ellipsis;
	overflow: hidden;
}
.app-list-item .app-icon {
	width: 128px;
	height: 128px;
	background-size: contain;
	border-radius: 20%;
}
.app-list-item .app-category {
	color: #777777;
}
.app-list-item .app-category .icon,
.app-list-filter-button .icon {
	height: 1em;
	margin-left: 0.2em;
	vertical-align: middle;
}
.app-list-filter-button[disabled] .icon {
	opacity: 0.5;
}
.app-list-item .app-title {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.hidden {
	display: none;
}
.buttongroup {
	display: flex;
}
.buttongroup input[type="search"] {
	margin: 0;
	border: 2px solid rgba(0,0,0,0.1);
	padding: 8px;
	border-radius: 8px;
	flex: 1;
}
.buttongroup input[type="search"]:not(:last-child) {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.buttongroup input[type="search"] + button {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
